<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a>AirNet</a></li>
            <li><button id="adminPrepaid" (click)="goToPage('admin/prepaidplans')">Prepaid plans</button></li>
            <li><button id="adminPostpaid" (click)="goToPage('admin/postpaidplans')">Postpaid plans</button></li>
            <li><button id="adminAddOns" (click)="goToPage('admin/addon')">AddOns</button></li>
            <li><button id="adminDisplayUser" (click)="goToPage('displayuser')">DisplayUser</button></li>
            <li><button id="displayRecharge" (click)="goToPage('displayrecharge')">DisplayRecharge</button></li>
            <li style="float:right"><button (click)="logout()">Logout</button></li>
        </ul>
    </nav>
    <h1>WELCOME TO AIRNET RECHARGE MANAGEMENT SYSTEM</h1>
    <h2>HELLO ADMIN</h2>


</body>
</html>